body {
    font-size: 91%;
}

.body1 {
    color: darkslateblue;
    width: 310px;
    font-family: sans-serif;
    font-size: inherit;
    background-color: ghostwhite;
}

.but {
    height: 22px;
    background-color: rgba(67, 104, 178, 0.84);
    /*margin-bottom: 10px;*/
}

.title {
    float: left;
    margin-right: 10px
}

.func {
    float: right;
    margin-right: 10px
}

.bl_link {
    background-color: #4368b2;
    height: 110px;
}

.img {
    width: 534px;
    text-align: left;
    margin-top: 4px;

}

[class$="img_func"] {
    margin-left: 20px;
    width: 34px;
    text-align: right;
    cursor: pointer;
}

.img_logo {
    width: 223px;
}

.sect {
    text-align: center;
    overflow-y: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /*width: 70%;*/
}

.t1 {
    font-size: 118%;
    font-weight: 600;
    color: black;
}

.t2 {
    font-size: 98%;
    color: black;
    word-wrap: break-word;
}

table {
    width: 70%;
    table-layout: fixed;
    padding-bottom: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    /*width: -webkit-fill-available;*/
    border: 4px solid #000;
    border-radius: 10px;
    border-spacing: 0;
    margin: auto;
}

table .tr1 {
    background-color: rgba(169, 164, 178, 0.23);
    margin: -7px;
}

table tr .td0 {
    padding-left: 10px;
    width: 200px !important;
}

.search {
    text-align: center;
    margin-top: 28px;
    margin-left: 5%;
    float: left;
}

.form_search {
    width: 300px;
    text-align: center;
    /*margin-top: 30px;*/
}

.inp_search {
    text-align: center;
    border-radius: 10px;
    padding: 14px 37px 13px 46px;
    font-size: 178%;
    font-weight: bolder;
    font-family: monospace;
}

ul {
    margin-left: -18px;
}

li {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.res {
    overflow: hidden;
    word-wrap: break-word;
    overflow-x: hidden;
    text-align: justify;
}

xmp {
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: hidden;
    text-align: justify;
    font-family: sans-serif;
    font-size: inherit;
}